.LoginForm{
    margin-left: 10px;
    margin-right: 10px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  label{
      font-size:xx-large;
      margin: auto;
  }


  
  .button:hover {
    opacity: 0.8;
  }
  
  @media screen and (min-width: 768px) {
    .LoginForm{
        
        margin: auto;
        max-width: 80%;
    }
  }