.p_container {
    border: 2px solid lightblue;
    position: absolute;
    width: 800px;
    height: 400px;
    top: 245px;
    left: 300px;
    padding:  0;
    display: flex; /*horizontally*/
    justify-content: center;
    transition:visibility 0.3s linear,opacity 0.3s linear,width 2s, height 4s,background-image 2s ease-out ,background-color 2s ease-out;
}

.lamina{
    transition:visibility 0.3s linear,opacity 0.3s linear,width 2s, height 4s,background-image 2s ease-out,background-color 2s ease-out;
}

.p_container:hover{
    width: 0px;
}

div {
    width: 100%;
    overflow: visible;
    list-style: none;
}

.center {
    margin: auto;
    width: 53%;
    padding: 10px;
    align-items: center;
}


.button2 {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

h3 {
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: initial;
}

@keyframes slidein {
    from {
        margin-left: 20%;
        width: 300%
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}