@import "spinner.css";
@import "login.css";
@import "lamina.css";

body{
    margin: auto;
    transition:visibility 2s linear,opacity 2s linear;
}

.button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  #Presentacion{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(5, [col] 100px ) ;
    grid-gap: 50px;
    margin: auto;  
  } 

  .gridItem{
    margin: 10px;
    padding: 10px;
    margin-bottom: 10px;
    width: 120px;
    height: 120px;
    text-align: center;
    border-top: 10px solid #3e8e41;
    border-radius: 23px 23px 21px 21px;
    background-color: #4CAF50;
    box-shadow: 0 5px #666;
    font-size: 24px;
    color: #fff;

  }

  .item1 { 
    grid-area: header; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.logo{
    background-image: 'logo.png';
    
}

.item2 { grid-area: menu; }
.item3 { grid-area: main; }



.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main main right'
    'menu main main main main right';
  grid-gap: 10px;
  background-color: #4bb69b;
  padding: 10px;
}

.grid-container > div {
  background-color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

#crearPresentacionDiv{
  display: none;
  text-align: left;
}


